body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3498db; /* Default background color */
    color: #fff;
}

nav {
    background-color: #2980b9;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 1.5em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

section {
    padding: 50px;
    margin: 20px 0;
    text-align: center;
}

.about {
    background-color: #2ecc71;
}

.creative {
    background-color: #e74c3c;
}

.outgoing {
    background-color: #f39c12;
}

.major {
    background-color: #3498db;
}

h2, p {
    margin: 0;
}


